backend/*.log
backend/.DS_Store
backend/.env
backend/.env.backup
backend/.env.production
backend/.phpactor.json
backend/.phpunit.result.cache
backend/.fleet
backend/.idea
backend/.nova
backend/.phpunit.cache
backend/.vscode
backend/.zed
backend/auth.json
backend/node_modules
backend/public/build
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/storage/pail
backend/vendor
backend/_ide_helper.php
backend/Homestead.json
backend/Homestead.yaml
backend/Thumbs.db

# Agent related fil
backend/.claude/
backend/CLAUDE.md
backend/.mcp.json
backend/boost.json

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

node_modules/
.pnp
.pnp.js

dist/
dist-ssr/
*.local
.tmp/

.eslintcache
*.tsbuildinfo
node_modules/.tmp/

.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.local
.env.development.local
.env.test.local
.env.production.local